:root {
  font: normal 20px/1.2 Verdana;
  color: white;
}

body {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-header,
#main-footer,
main {
  margin: 2em;
}

/* div style */

#main-form>div {
  margin: 1em 2em;
}

#main-form>div>:nth-child(2n+1):not([type="radio"]) {
  display: inline-block;
  text-align: right;
  width: 8em;
}

#main-form>div>:nth-child(2n) {
  display: inline-block;
  width: 15em;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

input:not([type="submit"]):not([type="radio"]),
textarea {
  background: linear-gradient(45deg, #5f2c82, #49a09d);
  color: inherit;
  font: inherit;
}

#main-form #main-button {
  background: #2c8260;
  text-align: center;
  height: 4em;
  width: 100%;

  max-width: calc(15em + 8em);
  color: inherit;
}
#main-form #main-button:hover {
  box-shadow: none;

}
#main-form input {
  height: 2em;
  border: none;
  padding-inline: 0.75em;
  border-radius: 0.8em;
  transition: box-shadow 200ms;
}

#main-form input:focus {
  background: #5f2c82;
  box-shadow: none;
}
footer {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
}

@media screen and (width <=650px) {
  #main-form>div {
    margin-inline: 0;
  }

  #main-form>div>:nth-child(2n) {
    width: 90%;
  }

  #main-form>div>:nth-child(2n+1):not([type="radio"]) {
    text-align: left;
  }


}